@model AppASV.Models.SeriesViewModel

@{
    ViewBag.Titlu = "Edit " + @Model.Series.Title;
}
<h2>@ViewBag.Titlu</h2>
@*<form method="post" action="/Series/Edit/@Model.Series.SeriesId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Series.SeriesId)
    <br />
    @Html.Label("Title", "Title")
    <br />
    @Html.EditorFor(m => m.Series.Title)
    <br />
    @Html.Label("NumberOfEpisodes", "Number of episodes")
    <br />
    @Html.EditorFor(m => m.Series.NumberOfEpisodes)
    <br /><br />
    @Html.Label("NumberOfSeasons", "NumberOfSeasons")
    <br />
    @Html.EditorFor(m => m.Series.NumberOfSeasons)
    <br />
    <br />
    <div>
        @Html.EditorFor(m => m.Genres)
    </div>
    <button class="btn btn-sm btn-success" type="submit">Edit series</button>
</form>*@

@Html.ActionLink("Back to Movies", "Index")
<h2>Edit</h2>

@using (Html.BeginForm())
{
    <div>
        <div>
            @Html.LabelFor(x => x.Series.Title)
            @Html.TextBoxFor(x => x.Series.Title)
        </div>
        <div>
            @Html.LabelFor(x => x.Series.NumberOfEpisodes)
            @Html.EditorFor(x => x.Series.NumberOfEpisodes)
        </div>
        <div>
            @Html.LabelFor(x => x.Series.NumberOfSeasons)
            @Html.TextBoxFor(x => x.Series.NumberOfSeasons)
        </div>
        <div>
            @Html.EditorFor(x => x.Genres)
        </div>
        @Html.HiddenFor(x => x.Series.SeriesId)
        <input type="submit" value="Go!" />
    </div>
}
