@model AppASV.Models.SeriesViewModel

@{
    ViewBag.Titlu = "Edit " + @Model.Series.Title;
}
<h2>@ViewBag.Titlu</h2>

@Html.ActionLink("Back to series", "Index")
<h2>Edit</h2>

@using (Html.BeginForm())
{
    <div>
        <div>
            @Html.LabelFor(x => x.Series.Title)
            @Html.TextBoxFor(x => x.Series.Title)
        </div>
        <div>
            @Html.LabelFor(x => x.Series.NumberOfEpisodes)
            @Html.EditorFor(x => x.Series.NumberOfEpisodes)
        </div>
        <div>
            @Html.LabelFor(x => x.Series.NumberOfSeasons)
            @Html.TextBoxFor(x => x.Series.NumberOfSeasons)
        </div>
        <div>
            @Html.EditorFor(x => x.Genres)
        </div>
        @Html.HiddenFor(x => x.Series.SeriesId)
        <input type="submit" value="Go!" />
    </div>
}
