@model AppASV.Models.SeriesViewModel
@using System
@using Microsoft.AspNet.Identity
@using AppASV.Models
@{
    /**/

    ViewBag.Titlu = "Details of the series " + @Model.Series.Title;
}

    <head>
        <style>
            table.castTable {
          border: 1px solid #000000;
          background-color: #FFFFFF;
          text-align: left;
          border-collapse: collapse;
        }
        table.castTable td, table.castTable th {
          border: 2px solid #959595;
          padding: 2px 3px;
        }
        table.castTable tbody td {
          font-size: 13px;
        }
        table.castTable thead {
          background: #000000;
          background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
          background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
          background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
          border-bottom: 2px solid #2A2A2A;
        }
        table.castTable thead th {
          font-size: 15px;
          font-weight: bold;
          color: #FFFFFF;
          border-left: 2px solid #D6D8F5;
        }
        table.castTable thead th:first-child {
          border-left: none;
        }

        table.castTable tfoot td {
          font-size: 14px;
        }
        table.castTable tfoot .links {
          text-align: right;
        }
        table.castTable tfoot .links a{
          display: inline-block;
          background: #1C6EA4;
          color: #FFFFFF;
          padding: 2px 8px;
          border-radius: 5px;
        }
        </style>
    </head>

<h2>@ViewBag.Titlu</h2>

<div>
    @if ((System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        if (Model.IsFavourite)
        {
            <button class="btn-link glyphicon glyphicon-heart" type="button"
                    onclick="location.href='@Url.Action("Unfavourite", "Series", new { id = Model.Series.SeriesId })'"></button>
        }
        else
        {
            <button class="btn-link glyphicon glyphicon-heart-empty" type="button"
                    onclick="location.href='@Url.Action("Favourite", "Series", new { id = Model.Series.SeriesId })'"></button>
        }
    }
</div>

<br />

<div class="panel panel-default">
    <div class="panel-heading">@Model.Series.Title</div>
    <div class="panel-body">
        Number of seasons: <strong>@Model.Series.NumberOfSeasons</strong>
        <br />
        Number of episodes: <strong>@Model.Series.NumberOfEpisodes</strong>
        <br />
        @ViewBag.Genres
    </div>
</div>

<ul style="list-style-type:none;">
    @foreach (var episode in ViewBag.Episodes)
    {
        <li>
            S@{@episode.SeasonNumber}E@{@episode.EpisodeNumber} <a href="/Episode/Show/@episode.EpisodeId">@episode.Title</a>
        </li>
    }
</ul>

<div>
    @if (ViewBag.afisareButoane)
    {
        <a class="btn btn-sm btn-success" href="/Episode/New">Add a new episode</a>
    }
</div>

<br />

<div>
    <table class="castTable">
        <tr>
            <th>Actor</th>
            <th>Character</th>
        </tr>
        @foreach (Tuple<int, string, string> tuple in ViewBag.Cast)
        {
            <tr>
                <td>
                    <a href="/Actor/Show/@tuple.Item1">@tuple.Item2</a>
                </td>
                <td>@tuple.Item3</td>
            </tr>
        }
    </table>

</div>

<br />

<div>

    @if (ViewBag.Reviews != null)
    {
        int suma = 0, count = 0;
        foreach (var review in ViewBag.Reviews)
        {
            suma += @review.Stars;
            ++count;
        }
        if (count > 0)
        {
            for (int i = 0; i < (int)Math.Round((double)suma / (double)count); i++)
            {
                <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/star-icon.png" alt="IMAGES" style="width: 3%; height: 3%;" />
            }
            for (int i = (int)Math.Round((double)suma / (double)count); i < 10; i++)
            {
                <img src="https://purepng.com/public/uploads/large/purepng.com-grey-starstargeometricallydecagonconcavestardomclipartblackgrey-1421526502793oblca.png" alt="IMAGES" style="width: 3%; height: 3%;" />
            }
        }
        else
        {
            for (int i = 0; i < 10; i++)
            {
                <img src="https://purepng.com/public/uploads/large/purepng.com-grey-starstargeometricallydecagonconcavestardomclipartblackgrey-1421526502793oblca.png" alt="IMAGES" style="width: 3%; height: 3%;" />
            }
        }
    }

</div>

<br />
<br />
@{
    bool iHaveReviewed = false;

    if (ViewBag.Reviews != null)
    {
        foreach (var review in ViewBag.Reviews)
        {
            <br />

            <br />
            for (int i = 0; i < @review.Stars; i++)
            {
                <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/star-icon.png" alt="IMAGES" style="width: 3%; height: 3%;" />
            }
            for (int i = @review.Stars; i < 10; i++)
            {
                <img src="https://purepng.com/public/uploads/large/purepng.com-grey-starstargeometricallydecagonconcavestardomclipartblackgrey-1421526502793oblca.png" alt="IMAGES" style="width: 3%; height: 3%;" />
            }
            <br />
            @review.Text
            <br />
            if (@review.UserId == User.Identity.GetUserId() || User.IsInRole("Administrator") == true)
            {
                if (User.Identity.GetUserId() != null)
                {
                    iHaveReviewed = true;
                    @Html.ActionLink("Delete review", "Delete", "Review",
                         new { idSeries = review.SeriesId, idUser = review.UserId }, new { @class = "btn btn-danger" })
                    // <a href="/Categorie/Edit/@ViewBag.Ratings.IdRatingProdus">Modifica categorie</a>
                    @Html.ActionLink("Edit review", "Edit", "Review",
                         new { idSeries = review.SeriesId, idUser = review.UserId }, new { @class = "btn btn-warning" })
                }
            }

            <br /> <br />
        }
    }

    if (!iHaveReviewed)
    {
        <a class="btn btn-sm btn-success" href="/Review/New/@Model.Series.SeriesId">Write review</a>
    }
}

@if (ViewBag.afisareButoane)
{
    <a class="btn btn-sm btn-info" href="/Series/Edit/@Model.Series.SeriesId">
        Edit series
    </a>
    <br />

    <form method="post" action="/Series/Delete/@Model.Series.SeriesId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn-danger" type="submit">Delete series</button>
    </form>

}

<hr />
<a class="btn btn-sm btn-success" href="/Series/Index">Back to series</a>
@if (ViewBag.afisareButoane)
{
    <a class="btn btn-sm btn-success" href="/Series/New">Add a new series</a>
}
<br />

