@model AppASV.Models.Actor
@{
    ViewBag.Title = "Edit actor";
}



@Html.ActionLink("Back to actors", "Index", "Actor")

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
<div>
    <div>
        @Html.LabelFor(x => x.FirstName, "First name")
        @Html.TextBoxFor(x => x.FirstName)
    </div>
    <div>
        @Html.LabelFor(x => x.LastName, "Last name")
        @Html.TextBoxFor(x => x.LastName)
    </div>
    @Html.HiddenFor(x => x.ActorId)
    <input type="submit" value="Do it!" />
</div>
}

