@model AppASV.Models.Episode
@{
    ViewBag.Title = "Details of the episode " + Model.Title;
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        Length: <strong>@Model.Length</strong> minutes
        <br />
        Air date: @Model.AirDate
        <br />
    </div>
    <div>
        This is episode number @Model.EpisodeNumber of season @Model.SeasonNumber of
        <a href="Series/Show/@Model.SeriesId">@ViewBag.Series.Title</a>.
    </div>
</div>

@if (ViewBag.afisareButoane)
{
    <a class="btn btn-sm btn-info" href="/Episode/Edit/@Model.EpisodeId">Edit episode</a>
    <br />

    <form method="post" action="/Episode/Delete/@Model.EpisodeId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-sm btn-danger" type="submit">Delete episode</button>
    </form>

}