@model AppASV.Models.Review
@using AppASV.Models

@{
    ViewBag.Title = "New review";
}

<h2>Write review</h2>

@using (Html.BeginForm("New", "Review", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    @Html.Hidden("SeriesId", ViewContext.RouteData.Values["id"])

    <div class="row">
        <div class="form-group col-xs-5 col-lg-5">
            @Html.LabelFor(model => model.Text)
            <span class="glyphicon glyphicon-info-sign input-sm" data-title=""
                  data-html="true" data-placement="right"></span>
            @Html.TextAreaFor(model => model.Text, new { @class = "form-control focus" })
            @Html.ValidationMessageFor(model => model.Text, "The title is mandatory", new
       {
           @class = "text-danger "
       })

        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-5 col-lg-5">
            @Html.LabelFor(model => model.Stars)
            <span class="glyphicon glyphicon-info-sign input-sm" data-title=""
                  data-html="true" data-placement="right"></span>
            @Html.TextBoxFor(model => model.Stars, new { @class = "form-control focus" })
            @Html.ValidationMessageFor(m => m.Series.NumberOfSeasons)
        </div>
    </div>


    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group col-md-10">
        <p class="text-center">
            <input type="submit" value="Post review" />
        </p>
    </div>
}